<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Repast City</title>
    <script src="./js/lib/jquery.js"></script>
    <script src="./style/bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/d3.v3.min.js"></script>
    <link rel="stylesheet" href="./style/bootstrap/css/bootstrap.min.css"/>
    <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

 h3{color: blue;
    font-family: verdana;
    font-size: 200%;
    }
</style>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#viewer">Earth Viewer</a></li>
    <li><a data-toggle="tab" href="#statistic">Statistic</a></li>
</ul>
<div class="tab-content">
    <!-- Earth viewer -->
    <div id="viewer" class="tab-pane in active">
        <iframe src="/viewer?start={{startDate}}&end={{endDate}}"
                style="position: absolute; width: 100%; height: 94%; border: none"></iframe>
    </div>

    <!-- Statistics -->
    <div id="statistic" class="tab-pane">
        <h3>Result Statistics</h3>
        <script type="text/javascript"charset="utf-8">
            d3.text('/statistic', function(data) {
                var parsedCSV = d3.csv.parseRows(data);

                var container = d3.select("#statistic")
                    .append("table").classed("table", true)

                    .selectAll("tr")
                        .data(parsedCSV).enter()
                        .append("tr")

                    .selectAll("td")
                        .data(function(d) { return d; }).enter()
                        .append("td")
                        .text(function(d) { return d; });
            });
        </script>
    </div>

    <!-- Todo: Others ... -->
</div>
</body>
</html>
