<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="./Cesium/Cesium.js"></script>
    <style>
        @import url(./Cesium/Widgets/widgets.css);
        html, body , #cesiumContainer {
            width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
        }
    </style>
</head>
<body>
<div id="cesiumContainer" data-start="{{ startDate }}" data-end="{{ endDate }}"></div>
<script src="./js/main.js"></script>
</body>
</html>
